PORT=`your_port`

# Database Configuration for Docker Compose
POSTGRES_USER=`your_postgres_user`
POSTGRES_PASSWORD=`your_db_password`
POSTGRES_DB=`your_db_name`
DB_PORT=`your_db_port`

# Container Configuration
CONTAINER_NAME=`your_container_name`
POSTGRES_IMAGE=`your_postgres_image`

DATABASE_URL=`your_database_url`